.productSection{
    height: 100VH;
}
.productSection input, .productSection button {
    font-size: 20px;
}
.productSection input, .productSection button svg{
    font-size: 27px;
}
.productSection input, .productSection textarea{
    background: #FAFAFA;
}
.uploadImage {
    width: 100%;
    height: 250px; 
    background: white;
    border: 4px dashed #d7d3d3; 

}
.featuredImgWrapper{
    
    width: 100%;
    height: max-content;
}
.featuredImgWrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.categoriesection .checkboxWrapper {
    position: relative;
    border-radius: 6px !important;
    height: 22px;
    border-spacing: 0cap;
    width: 22px;
    padding: 0%;
}

.categoriesection .checkbox {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;

}
.tableWrapper .imgWrapper {
    height: 50px;
    width: 50px;
    border: 1px solid #bcafaf;
    overflow: hidden;
    border-radius: 5px;
}

.tableWrapper .imgWrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}