* {
  padding: 0;
  margin: 0;
}

.cursor {
  cursor: pointer;
}

li {
  list-style: none;
}

 .sidebarWrapper.toggle {
  width: 0%;
  flex: 0 0 0%;
  overflow: hidden;
}

 .sidebarWrapper {
  width: 20%;
  overflow: visible;
  flex: 0 0 20%;
  top: 75px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

p {
  margin: 0% !important;
}

.main .content {
  top: 80px;
  width: 100%;
  right: 0;
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  padding: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-main {
  background: #ebe9e9;
}

.btn-common {
  border: #79583D !important;
  background: #8F755E !important;
}

.text-gray {
  color: #8F9293;
}

.dropdown-item:active {
  color: #000;
  background: #EDF1F7;
}

@media (max-width:768px) {

   .sidebarWrapper.toggle {
    width: 0%;
    flex: 0 0 0%;
  }

   .sidebarWrapper {
    width: 100%;
    top: 75px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
}